.show-modal,
.show-modal1 {
  position: absolute;
  top: 50%;
  right: 5rem;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border: none;
  background-color: #a40b0b;
  color: #fff700;
  box-shadow: 0.5rem 0.3rem 0.8rem rgba(231, 169, 11, 0.507);
  border-radius: 10rem;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.hidden {
  display: none;
}

.modalAdd {
  position: absolute;
  display: flex;
  flex-direction: column;
  line-height: 2;
  text-align: justify;
  top: 24rem;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  color: #a40b0b;
  background-color: rgb(250, 243, 221);
  padding: 3rem;
  border-radius: 24px;
  border: 1rem solid #a40b0b;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  gap: 1.5rem;
}

.modalEdit {
  display: flex;
  flex-direction: column;
  line-height: 2;
  text-align: justify;
  color: #a40b0b;
  background-color: rgb(250, 243, 221);
  padding: 3rem;
  border-radius: 24px;
  border: 1rem solid #a40b0b;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  gap: 1.5rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 4, 4, 0.736);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.preferences-form {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
}
.white {
  background-color: #fff;
  color: black;
}
.margin {
  margin-top: 1rem;
}

.checkbox {
  width: 3rem;
  height: 1.5rem;
}
.subscriptionContainer {
  gap: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
