table {
  width: 98%;
  margin-left: 1rem;
  margin-right: 1rem;
  border-collapse: collapse;
  font-size: 1rem;
  border: 3px solid #45260a;
}
th,
td {
  padding: 1rem 1rem;
  text-align: left;
}
thead tr {
  background-color: #45260a;
  color: #fff;
}
thead th {
  width: auto;
}

.action-btns {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  align-self: flex-end;
}
.table-games {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  border: none;
}
.games {
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
.game-btn {
  height: 1rem;
  width: 6rem;
}

.name,
.date,
.minPlayers,
.maxPlayers,
.year,
.playingTime {
  cursor: pointer;
}
tbody {
  background-color: #f8f9fa;
}
tbody tr:nth-child(even) {
  background-color: #fdf2e9;
}
.ReactFlagsSelect-module_selectOptions__3LNBJ {
  color: black;
  background: #fdf2e9;
}
