.image {
  display: flex;
  position: absolute;
  top: 6rem;
  background-color: $color-primary;
  height: 28rem;
  width: 40rem;
  box-shadow: $box-shadow-m;
  border-radius: $border-radius-l;
  padding: $padding-s;
  align-content: center;
  justify-content: center;

  &__coverImg {
    width: 90%;
    align-self: center;
  }
  &__flex {
    display: flex;
    justify-content: space-between;
    // padding-right: 1rem;
    align-items: flex-end;
  }
}
