.select {
  border: none;
  color: $color-primary-dark;
  // font-size: $font-size-xs;
  font-weight: 600;
  cursor: pointer;
  border-radius: $border-radius-l;
  transition: all 0.5s;
  background-color: $color-primary-light;
  height: 2.3rem;
  width: 9rem;

  @include responsive(tab-land) {
    width: 10rem;
    height: 2.5rem;
    align-items: center;
    margin-right: 1rem;
  }
  @include responsive(tab-port) {
    width: 12rem;
    height: 2.7rem;
  }
  @include responsive(phone) {
    width: 14rem;
    height: 3rem;
  }
}
