.table {
  &__flex {
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    padding-left: 1rem;
    align-items: center;
    width: 97rem;
  }
  &__list {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border: none;
  }

  &__gameImg {
    width: 6rem;
    height: 6rem;
  }
  &__row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
  }
}
