.pagination {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3rem;
}
.btnPage,
.btnPageActive {
  background-color: #fff;
  border: none;
  color: #45260a;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  transition: all 0.5s;
}

.btnPage:hover {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.125);
  transition: all 0.3s;
}
.btnPageActive {
  background-color: #ce6d18;
  color: #fff;
}
.btn {
  border: none;
  color: #45260a;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  height: 2rem;
  width: 8rem;
  border-radius: 9px;
  background-color: #fdf2e9;
  text-transform: uppercase;
  transition: all 0.8s;
}

.btn:hover {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.195);
  transition: all 0.3s;
}
