#rating {
  display: none;
}
.gameRating {
  display: flex;
  justify-content: flex-start;
  gap: 2.5rem;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}
.avgRating {
  font-size: 1.4rem;
}
