.searchBar {
  justify-self: right;
  height: 3.6rem;
  width: 38rem;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  margin: 0.6rem 0;
}

.searchBar::placeholder {
  color: #ccc;
}
