.selectField {
  border: none;
  color: #45260a;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 9px;
  transition: all 0.5s;
  background-color: #fdf2e9;
  height: 2.3rem;
  width: 9rem;
}
