.flex {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
}
.tableList {
  width: 95em;
  margin-left: 0;
  margin-right: 0;
  border: none;
}
.pointer {
  cursor: pointer;
}
.sort {
  color: #f9dabd;
}
.navBtn {
  height: 2.8rem;
  padding: 0.8rem 1.2rem;
  border-radius: 11px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  transition: font-size 0.5s ease;
  width: 13rem;
  background-color: #fdf2e9;
  color: #45260a;
  border: 2px solid hsla(27, 74%, 15%, 0.144);
  padding: 0.5rem 1rem;
  justify-self: start;
  margin: 0.6rem 0.6rem;
}

.navBtn:hover {
  font-size: 1.2rem;
}
.btnAdd {
  width: 15rem;
  height: 3rem;
  text-transform: uppercase;
}

.gameImg {
  width: 6rem;
  height: auto;
}

.actionBtns {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  align-self: flex-end;
}
.games {
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
.btn {
  color: #fff;
  border: none;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 9px;
  height: 2rem;
  width: 8rem;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.8s;
}

.btn:hover {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.195);
  transition: all 0.3s;
}

.red {
  background-color: rgb(196, 0, 0);
  transition: all 0.5s;
}
.red:hover {
  background-color: rgb(156, 2, 2);
}
.green {
  background-color: #1a852e;
  transition: all 0.5s;
}
.green:hover {
  background-color: rgb(6, 97, 23);
}

table {
  margin-left: 1rem;
  margin-right: 1rem;
  border-collapse: collapse;
  font-size: 1rem;
  border: 3px solid #45260a;
}
th,
td {
  padding: 1rem 1rem;
  text-align: left;
}
thead tr {
  background-color: #45260a;
  color: #fff;
}
thead th {
  width: auto;
}
tbody {
  background-color: #f8f9fa;
}
tbody tr:nth-child(even) {
  background-color: #fdf2e9;
}
.modalAdd {
  position: absolute;
  display: flex;
  flex-direction: column;
  line-height: 2;
  text-align: justify;
  top: 35rem;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  color: #a40b0b;
  background-color: rgb(250, 243, 221);
  padding: 4rem;
  border-radius: 24px;
  border: 1rem solid #a40b0b;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  gap: 1rem;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 95em;
  height: 150vh;
  background-color: rgba(4, 4, 4, 0.736);
  backdrop-filter: blur(3px);
  z-index: 5;
}
