@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}
@mixin flexColAlignC {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5rem) {
      // 600px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    //900px
    @media (max-width: 56.25rem) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    //1200px
    @media (max-width: 75rem) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    //1800px
    @media (max-width: 112.5rem) {
      @content;
    }
  }
}
