$color-primary: #f5cba7;

$color-primary-light: #fdf2e9;
$color-primary-medium: #f9e3ce;
$color-primary-dark: #45260a;
$color-primary-dark-hover: #2e1907;

$color-text: #450a26;

$color-grey-light: #ccc;
$color-grey-medium: #777;
$color-grey-dark: #333;

$color-white: #fff;
$color-black: #000;

$color-red: #c40000;
$color-red-hover: #9c0202;

$color-green: #1a852e;
$color-green-hover: #066117;

$border-radius-s: 3px;
$border-radius-m: 6px;
$border-radius-l: 9px;

$gap-xs: 0.5rem;
$gap-s: 1rem;
$gap-m: 2rem;
$gap-l: 3rem;

$padding-s: 1rem;
$padding-m: 2rem;
$padding-l: 3rem;

$box-shadow-xs: 0 6px 8px rgba($color-black, 0.05);
$box-shadow-s: 0 0.2rem 0.4rem rgba($color-black, 0.2);
$box-shadow-m: 0 1rem 1.5rem rgba($color-black, 0.2);
$box-shadow-l: 0 2.5rem 5rem rgba($color-black, 0.2);

$default-font-size: 1.2rem;
$font-size-xs: 0.8rem;
$font-size-s: 1rem;
$font-size-l: 1.5rem;
